body {
	background-color: #1f1f28;
	color: #ffffff;
	font-family: "Noto Sans";
	font-size: 18px;
	margin: 10px auto;
	padding: 0 20px;
	line-height: 1.6;
}

a {
	color: #58a6ff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.active {
	font-weight: bold;
	text-decoration: underline;
}

nav {
	margin-bottom: 30px;
}

nav a {
	margin-right: 15px;
}
